body{
    background:white;
}

/* Barra de Navegação*/
nav.navbar-transparente{
    /* Deixa a navbar opaca(transparencia)*/
    padding: 15px 0px;
    margin-left: -600px;
    /* Ultimo parametro indica a opcaidde da bar*/
    background: rgb(255, 255, 255);
}

/* Configuração da logo de barra de navegação */
.navbar-brand{
    padding: 5px 15px;
}


.img-logo{
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-left: 11px;
    display: block;
    background: url('logo.svg') no-repeat;
    color: transparent;
    
}

a:link{
    color:#08285F;
}

/*  Fim da Barra de Navegação */

/* Carousel  CSS */

.img-slide{
    width: 150px;
    height: 150px;
    padding: 10px;
}

.item{
    margin-left: 170px;
}

.text-carousel{
    text-align: center;
    margin-left: 180px;
    color:08285F;

}
/* Fim do Carousel CSS*/

/* Sidebar */
.sidebar {
    background:#08285F;
    width: 181px;
    margin-top: 0px;
    border: 1px solid red;
  }

  .text-side{
      color:white;
  }

