body{
    background: cadetblue;
}

/* Barra de Navegação*/
nav.navbar-transparente{
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid red;
}

.img-logo{
    
    height: 60px;
    width: 110px;
    display: block;
    background: url('logo.svg') no-repeat;
    background-size: contain;
    color: transparent;

}

.navbar-brand{
    padding: 5px 15px;
}