

body{
    background:#6495ED
}

/* Muda o background da modal window*/
.modal-content {
    background:#F0F3F4
    
}

/* Muda a cor da letra do modal tittle */




.carousel{
   width: 612px;
   height: 408px;
   margin-top:150px;
   margin-left: 10px;
   
    
}

.img-slide{
    margin-left: 150px;
}

#slide{
    
  
    margin:250px 100px 200px 600px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid red;
    
    
        
}


/* Barra de Navegação*/
nav.navbar-transparente{
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.img-logo{
    
    height: 60px;
    width: 110px;
    display: block;
    background: url('logo.svg') no-repeat;
    background-size: contain;
    color: transparent;

}

.img-sign{
    height: 60px;
    width: 110px;
}

.navbar-brand{
    padding: 5px 15px;
}