

body{
    background:#6495ED;
    overflow-x:hidden;

}

/* Muda o background da modal window*/
.modal-content {
    background:#F0F3F4
    
}


/* Barra de Navegação*/
/* Deixa a navbar opaca(transparencia)*/
nav.navbar-transparente{
    padding: 15px 0px;
    /* Ultimo parametro indica a opcaidde da bar*/
    background: rgba(0, 0, 0, 0.6);
}

/* Configuração da logo de barra de navegação */
.img-logo{
    
    height: 60px;
    width: 110px;
    display: block;
    background: url('logo.svg') no-repeat;
    background-size: contain;
    color: transparent;

}



/* Configuração da logo de barra de navegação */
.navbar-brand{
    padding: 5px 15px;
}



/* Sobreescreve a classe carousel definindo seu tamanho e espaçamento*/
.carousel{
   width: 612px;
   height: 408px;
   margin-top:150px;
   margin-left: 30px;
   
    
}

/* Espaçamento das imagens contidas dentro do slide do carousel*/
.img-slide{
    margin-left: 150px;
}

#slide{
    
    margin:250px 100px 200px 600px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid red;
        
}


